openapi: 3.0.0
info:
  title: Video OTT Platform API
  version: 1.0.0
  description: Mock API server for Video OTT Platform providing authentication, content management, and streaming services

servers:
  - url: https://api.videoott.com/v1
    description: Production server

security:
  - bearerAuth: []
  - authpt: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    authpt:
      type: apiKey
      in: header
      name: X-Auth-Key

  headers:
    X-RateLimit-Limit:
      schema:
        type: integer
      description: Request limit per hour
    X-RateLimit-Remaining:
      schema:
        type: integer
      description: Remaining requests in the current time window

  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
          description: Error message description
        code:
          type: string
          description: Optional error code for specific error types

    SessionInfo:
      type: object
      properties:
        region:
          type: string
          description: Country
        session_stringvalue:
          type: string
          description: HKS Value - Id of the user's encrypted session.
        session_parametername:
          type: string
          description: HKS
        date:
          type: string
          description: Date of the region
        time:
          type: string
          description: Time of the region
        timezone:
          type: string
          description: Timezone of the region
        utc:
          type: string
          description: UTC value

paths:
  /user/startheaderinfo:
    get:
      summary: Initialize user session with device and region information
      description: The service provides geolocation/region and session values.
      security:
        - bearerAuth: []
        - authpt: []
      parameters:
        - name: authpn
          in: query
          required: true
          schema:
            type: string
          description: "Vendor Authentication User. Value is 'tataelxsi'."
          example: tataelxsi
        - name: authpt
          in: query
          required: true
          schema:
            type: string
          description: "Encrypted vendor authentication key. Value is 'vofee7ohhecai'."
          example: vofee7ohhecai
      responses:
        '200':
          description: Session initialized successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionInfo'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'